.footer {
  margin: 67px 0 60px 0;
}
.footer__copyrigth {
  color: #545454;
  width: 318px;
  height: 18px;

  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
